// Colors

/* $mainColor: #6D4005;//--
$headerContent: rgba(73, 39, 1, 0.302);//--
$backColor: #fcf3e9;//--
$lightColor: #f7ddc1;//--
$white: rgb(255, 255, 255);//--
$headerColor: rgb(248, 220, 187);//--
$headerColor_stick: rgba(248, 220, 187, .9);//--
$fontColor: #050300;//--
$linkPageColor:#6D4005;
$linkPageColor_hover: #050300;
$bgInput: #fff7ed;//--
$borderInput: #ecbc86;//--
$cardBorder: #e7e7e7;//--
$shadow: rgba(44, 44, 44, 0.2);//--
$footerSocial: #b97322;//--
$mainLink_404: #5e09fc;
$scrollShadow: rgba(80, 48, 0, 0.8); */


$mainColor: #002487;//--
$headerContent: rgba(73, 39, 1, 0.302);//--
$backColor: #D2F5FF;//--
$lightColor: #F2FBFF;//--
$white: rgb(255, 255, 255);//--
$headerColor: rgb(15, 171, 255);//--
$headerColor_stick: rgba(15, 171, 255, .9);//--
$fontColor: #050300;//--
$linkPageColor: #ffffff;//--
$linkPageColor_hover: #e4f5fd;
$bgInput: rgb(238, 249, 252);//--
$borderInput: #3EC4FF;//--
$cardBorder: #e7e7e7;//--
$shadow: rgba(44, 44, 44, 0.2);//--
$footerSocial: #F2FBFF;//--
$mainLink_404: rgb(94, 9, 252);
$scrollShadow: rgba(94, 9, 252, 0.8);