/*=============
    1.Default styles
    2.Fonts styles
    3.Reset styles
    4.Header styles
    5.Posts styles
    6.Sidebar styles
    7.Iconmoon styles
    8.News styles
    9.Footer styles
    10.Pages styles
    11.Pages comments styles
    12.Contact styles
    13.404 page styles
    14.Media styles
================*/
/* $mainColor: #6D4005;//--
$headerContent: rgba(73, 39, 1, 0.302);//--
$backColor: #fcf3e9;//--
$lightColor: #f7ddc1;//--
$white: rgb(255, 255, 255);//--
$headerColor: rgb(248, 220, 187);//--
$headerColor_stick: rgba(248, 220, 187, .9);//--
$fontColor: #050300;//--
$linkPageColor:#6D4005;
$linkPageColor_hover: #050300;
$bgInput: #fff7ed;//--
$borderInput: #ecbc86;//--
$cardBorder: #e7e7e7;//--
$shadow: rgba(44, 44, 44, 0.2);//--
$footerSocial: #b97322;//--
$mainLink_404: #5e09fc;
$scrollShadow: rgba(80, 48, 0, 0.8); */
/*******************
Table of contents

===== 1.Default styles

*******************/
/*===== 2.Fonts styles

*******************/
/* @font-face {
    font-family: "Arial";
    src: url('../../fonts/ArialRegular/ArialRegular.ttf');
} */
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic");
/* == 3.Reset styles
====================*/
/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(94, 9, 252, 0.8);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #002487;
  outline: 1px solid #3EC4FF;
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: 0;
}

p {
  font-weight: 300;
  font-size: 14px;
}

.flex {
  display: flex;
}

.wrapper {
  max-width: 1500px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 1450px) {
  .wrapper {
    max-width: 1170px;
  }
  .bloger_photo {
    width: 250px;
    height: 250px;
  }
  .main_title {
    font-size: 72px;
  }
  .subtitle {
    font-size: 30px;
  }
  .sidebar {
    padding-left: 0;
  }
}

@media (max-width: 968px) {
  .menu {
    display: none;
  }
  .header_content {
    display: block;
  }
  .header_content .bloger_avatar {
    width: 100%;
  }
  .header_buttons {
    display: block;
  }
  .show {
    transform: translateY(0%);
    width: 200px;
    height: auto;
  }
  .show .show_item {
    transform: rotateX(0deg);
  }
  .header_title {
    width: 100%;
    text-align: center;
    margin-top: 40px;
  }
  .header_title h1 {
    font-size: 56px;
    line-height: 1;
  }
  .header_title h2 {
    font-size: 24px;
  }
  .header_bg .social_icons {
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    margin-bottom: 50px;
  }
  .scrolldown {
    width: 20px;
    height: 20px;
    transform: translateY(-20px) translateX(-50%) rotate(45deg);
  }
  .scrolldown span:nth-child(1) {
    transform: translate(-10px, -10px);
  }
  .scrolldown span:nth-child(2) {
    transform: translate(0, 0);
  }
  .scrolldown span:nth-child(3) {
    transform: translate(10px, 10px);
  }
  .page_content {
    flex-direction: column;
  }
  .block_posts {
    width: 80%;
    margin: 0 auto;
  }
  .sidebar {
    width: 60%;
    margin: 40px auto;
    text-align: center;
  }
  .recent_posts {
    justify-content: space-between;
    padding: 20px 10%;
  }
  .recent_card {
    max-width: 350px;
    margin: 0 auto;
  }
  .categories,
  .tags_content,
  .latest_news {
    margin: 0 auto;
  }
  .your_email {
    margin: 20px auto;
  }
  .footer_social {
    position: relative;
    margin-top: 15px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
  }
  .footer_text {
    display: block;
    text-align: center;
  }
  .sign_block {
    width: 45%;
  }
  .page {
    width: 85%;
    margin: 0 auto;
  }
  .contact_page {
    width: 100%;
  }
}

@media (max-width: 790px) {
  .sidebar {
    width: 100%;
  }
  .recent_link {
    margin: 0 auto;
  }
  .recent_link .recent_card {
    max-width: 320px;
  }
  .sign_block {
    width: 50%;
  }
  .sign_block input {
    width: 90%;
  }
}

@media (max-width: 580px) {
  .contact_container {
    padding: 25px 5px;
  }
  .nums .num {
    width: 90px;
    height: 90px;
  }
  .sign_block {
    width: 60%;
  }
  .sign_block input {
    width: 90%;
  }
}

@media (max-width: 540px) {
  .items_news {
    padding-left: 0;
  }
  .news_item {
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .menu_mobil .menu_item {
    border-radius: 25px;
  }
  .menu_mobil .menu_item-mobil {
    border-radius: 25px;
  }
  .icon_search {
    padding: 10px 8px 0;
    font-size: 25px;
  }
  .icon_burger {
    font-size: 29px;
    padding: 6px 8px 0;
  }
  .search_site {
    right: 30px;
  }
  .search_site .search {
    border-radius: 20px;
    padding-left: 15px;
  }
  .search_site .search_button {
    right: -8px;
  }
  .bloger_photo {
    width: 200px;
    height: 200px;
    margin: 40px auto 0;
  }
  .header_title {
    margin-top: 7%;
  }
  .header_title h1 {
    font-size: 44px;
    line-height: 1;
  }
  .header_title h2 {
    font-size: 20px;
  }
  .header_bg .social_icons {
    margin-bottom: 15%;
  }
  .block_posts {
    padding-top: 50px;
  }
  .recent_posts {
    padding: 15px 0;
    margin-bottom: 30px;
  }
  .recent_text {
    margin: 7px 0 0;
  }
  .tags_block {
    margin-bottom: 30px;
  }
  .form_comment .submit_btn,
  .user_comments .submit_btn {
    max-width: 95%;
  }
  .info {
    font-size: 12px;
    letter-spacing: 0;
  }
  .info .time span {
    margin-left: 4px;
  }
  .info .icon_view {
    margin-right: 4px;
  }
  .sign_block {
    width: 80%;
  }
  .sign_block input {
    width: 90%;
  }
  .contact_about {
    padding: 5px;
  }
  .contact_about .about_text {
    line-height: 1.2;
  }
}

@media (max-width: 430px) {
  .header_title h1 {
    font-size: 36px;
    line-height: 0.6;
  }
  .show {
    width: 280px;
    right: 0;
  }
  .show .show_item {
    padding: 15px 20px;
  }
  .main_content {
    padding: 30px 0;
  }
  .contact_form input,
  .contact_form textarea {
    min-width: 200px;
    margin: 0 auto 20px;
  }
  .nums {
    margin-bottom: 20px;
  }
  .nums .num {
    width: 60px;
    height: 60px;
  }
  .header_bg .social_icons {
    margin-bottom: 10%;
  }
  .social_icons {
    justify-content: center;
    max-width: 150px;
  }
  .social_icons .social_item {
    margin-left: 1%;
  }
  .contact_form .submit_btn {
    width: 50%;
  }
  .sign_block {
    width: 90%;
    padding: 25px 10px;
  }
  .sign_block input {
    width: 95%;
  }
  .page_text {
    margin: 20px 0 10px;
    padding: 0 10px;
  }
  .page_text .text {
    font-size: 14px;
    text-indent: 20px;
    line-height: 1.2;
  }
}

@media (max-width: 350px) {
  .logo_link {
    width: 150px;
  }
  .wrapper {
    padding: 0;
  }
  .recent_title {
    font-size: 12px;
  }
  .recent_text {
    font-size: 10px;
    margin: 5px 0 0;
  }
  .only_page .page_title {
    font-size: 30px;
  }
  .content_page {
    padding: 40px 10px;
  }
}
